#side-map path, #map path {
    fill        : #e3e3e3;
    stroke      : white;
    stroke-width: 1px;
}

#side-map .q0-3, #map .q0-3 {fill:rgb(205,236,224)}
#side-map .q1-3, #map .q1-3 {fill:rgb(113,198,168)}
#side-map .q2-3, #map .q2-3 {fill:rgb(21,160,114)}
#side-map .q0-4, #map .q0-4 {fill:rgb(205,236,224)}
#side-map .q1-4, #map .q1-4 {fill:rgb(143,211,186)}
#side-map .q2-4, #map .q2-4 {fill:rgb(82,186,150)}
#side-map .q3-4, #map .q3-4 {fill:rgb(21,160,114)}
#side-map .q0-5, #map .q0-5 {fill:rgb(205,236,224)}
#side-map .q1-5, #map .q1-5 {fill:rgb(159,217,196)}
#side-map .q2-5, #map .q2-5 {fill:rgb(113,198,168)}
#side-map .q3-5, #map .q3-5 {fill:rgb(67,179,141)}
#side-map .q4-5, #map .q4-5 {fill:rgb(21,160,114)}
#side-map .q0-6, #map .q0-6 {fill:rgb(205,236,224)}
#side-map .q1-6, #map .q1-6 {fill:rgb(168,221,201)}
#side-map .q2-6, #map .q2-6 {fill:rgb(131,206,179)}
#side-map .q3-6, #map .q3-6 {fill:rgb(94,191,157)}
#side-map .q4-6, #map .q4-6 {fill:rgb(58,176,135)}
#side-map .q5-6, #map .q5-6 {fill:rgb(21,160,114)}
#side-map .q0-7, #map .q0-7 {fill:rgb(205,236,224)}
#side-map .q1-7, #map .q1-7 {fill:rgb(174,223,205)}
#side-map .q2-7, #map .q2-7 {fill:rgb(143,211,186)}
#side-map .q3-7, #map .q3-7 {fill:rgb(113,198,168)}
#side-map .q4-7, #map .q4-7 {fill:rgb(82,186,150)}
#side-map .q5-7, #map .q5-7 {fill:rgb(51,173,132)}
#side-map .q6-7, #map .q6-7 {fill:rgb(21,160,114)}
#side-map .q0-8, #map .q0-8 {fill:rgb(205,236,224)}
#side-map .q1-8, #map .q1-8 {fill:rgb(179,225,208)}
#side-map .q2-8, #map .q2-8 {fill:rgb(152,215,192)}
#side-map .q3-8, #map .q3-8 {fill:rgb(126,204,176)}
#side-map .q4-8, #map .q4-8 {fill:rgb(99,193,160)}
#side-map .q5-8, #map .q5-8 {fill:rgb(73,182,145)}
#side-map .q6-8, #map .q6-8 {fill:rgb(47,171,129)}
#side-map .q7-8, #map .q7-8 {fill:rgb(21,160,114)}
#side-map .q0-9, #map .q0-9 {fill:rgb(205,236,224)}
#side-map .q1-9, #map .q1-9 {fill:rgb(182,226,210)}
#side-map .q2-9, #map .q2-9 {fill:rgb(159,217,196)}
#side-map .q3-9, #map .q3-9 {fill:rgb(136,208,182)}
#side-map .q4-9, #map .q4-9 {fill:rgb(113,198,168)}
#side-map .q5-9, #map .q5-9 {fill:rgb(90,189,154)}
#side-map .q6-9, #map .q6-9 {fill:rgb(67,179,141)}
#side-map .q7-9, #map .q7-9 {fill:rgb(44,170,127)}
#side-map .q8-9, #map .q8-9 {fill:rgb(21,160,114)}

#side-map path.current,
#map path.current {
    fill: #404964;
    stroke: #404964;
    stroke-width: 4px;
    stroke-linejoin: bevel;
}

#side-map path.department,
#map path.department {
    cursor: pointer;
}
